#container{
  background-image: url(../imagens_perfil/background-perfil.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 99vh;
  top: 0;
  padding-top: 1vw;
  background-color: #fff;
}
#branco{
  background-color: #fff;
  width: 100%;
  height: 20vw;
  margin-top: -1vw;
}
#logo{
  height: 10vw;
  display: block;
  margin: 0 auto 0 auto;
  padding-top: 5vw;
}
#voltar{
  display: inline-flex;
  height: 8vw;
  margin: 6vw 0 0 3vw;
}
h1{
  color: #fff;
  font-size: 7vw;
  margin: -9vw 0 0 33vw;
  display: block;

}
figure{
  margin: 0 0 0 0;
  display: inline;
}
#perfil{
  height: 25vw;
  display: block;
  margin: 10vw auto 10vw auto;
}
h2{
  color: #fff;
  text-align: center;
  font-size: 6vw;
  margin: -10vw 0 0 0;
}
.acoes{
  display: inline-block;
  border-width: 0px;
  width: 42vw;
  height: 41vw;
  background: inherit;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.349019607843137);
  margin-left: 5vw;
  margin-right: 1px;
  margin-top: 10vw;
}
.link_acoes{
  display: inline-block;
  width: 42vw;
  height: 41vw;
}
.icone_acoes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25vw;
  padding-top: 4vw;
}
figcaption{
  text-align: center;
  padding-top: 2vw;
  font-weight: bold;
}
a{
  text-decoration:none;
  color: #000;
}
#botao1{
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  width: 90%;
  height: 15vw;
  display: block;
  margin: 35vw auto 0 auto;
}
.link_botao{
  width: 90%;
  height: 15vw;
  display: block;
}
.caption{
  display: inline-flex;
  vertical-align: middle;
  margin: -10vw 0 0 0;
  font-weight: normal;
  font-size: 4vw;
}
.icone_botao{
  height: 11vw;
  display: inline-block;
  margin: 2vw auto 0 2vw;
}
#figure_seta1{
  margin: 6vw 0 0 40vw;
  display: inline-flex;
  position: absolute;
}
#botao2{
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  width: 90%;
  height: 15vw;
  display: block;
  margin: 6vw auto 0 auto;
}
#figure_seta2{
  margin: 6vw 0 0 57vw;
  display: inline-flex;
  position: absolute;
}
.seta_preta{
  height: 3vw;
  margin: 0 0 0 0;
}